{% extends "base.html" %}

{% block content %}
    {% load static %}
    <aside class="back">
    <div class="section-headlines">
     {#    Название заголовка #}
    <h4 style="padding-top: 40px;">
        Наши партнёры
    </h4>
</div>
    <div class="container-fluid">
{% for allpart in allpartners %}
                <div class="row allpartners">
                    <div class="col-md-4 col-12" style="margin: auto;
    text-align: center;">
                        <img src="{{ allpart.img.url }}" alt="">
                    </div>
                    <div class="col-md-8 col-12">
                        <h3>{{ allpart.name_part }}</h3>
                        <hr>
                        <p>{{ allpart.text }}</p>
                        <p>Номер телефона: <span style="color: orange">{{ allpart.number }}</span></p>
                        <p>Электронная почта: <span style="color: orange">{{ allpart.email }}</span></p>
                    </div>
                </div>
    <hr>
   {% endfor %}
    </div>
     </aside>
{% endblock content %}