{% extends "base.html" %}

{% block content %}
    {% load static %}
    <aside class="back_blue">
    <div class="container">
       {% for text_team in text_teams %}
    <div style="padding: 10px 10px; margin: 15px 0; background-color: rgba(255, 255, 255, 0.9); color: black; border: 2px solid #F19234; text-align: center">{{ text_team.text }}</div>
        {% endfor %}
    </div>
    </aside>
    <aside class="back_green">
    <div class="section-headlines">
    {#    Название заголовка #}
    <h4>
        Наши сотрудники
    </h4>
</div>
        <div class="container">
            <div class="row">
{% for team in teams %}
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">

                        <div class="team-image">
                            <img src="{{ team.img.url }}">
                            <p class="description">
                                <i class="fas fa-phone"></i>
                                <span class="">{{ team.phone }}</span> <br>
                                <i class="fas fa-envelope"></i>
                                <span class="">{{ team.mail }}</span>
                            </p>
                            {#                        <ul class="social">#}
                            {#                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>#}
                            {#                        </ul>#}
                        </div>
                        <div class="team-info">
                            <h3 class="title">{{ team.name }}</h3>
                            <span class="post">{{ team.position }}</span>
                        </div>
                    </div>

                </div>
{% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </aside>
{% endblock content %}