{% extends "base.html" %}

{% block content %}
    <div class="pad">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="team-image">
                        <img src="http://bootstraptema.ru/snippets/block/2016/mmvsoc/mmv.jpg">
                        <p class="description">
                            Mne poh na vse dvijeniya lic, kotorie schitaut vremya provedyonnoe v etom mire podarcom.
                            Ponos carya ot bezvihodnoi raba nicchem ne otlichaetsya.
                        </p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h3 class="title">Mishanya</h3>
                        <span class="post">Pacan po jizni</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="team-image">
                        <img src="http://bootstraptema.ru/snippets/block/2016/mmvsoc/mmv.jpg">
                        <p class="description">
                            Ochen prosto uznat kto skolko stoit. Skolko zaplatil chtobi bit, stolko i stoish...
                        </p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h3 class="title">Mishka</h3>
                        <span class="post">Prosto chelovek</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="team-image">
                        <img src="http://bootstraptema.ru/snippets/block/2016/mmvsoc/mmv.jpg">
                        <p class="description">
                            Ti pravish mirom, no svoim. Problemi est, ne tolko im odnim, zabrat vsyo vremya i ponyat. Ya
                            bes tebya pustoi mne nechego teryat.
                        </p>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info">
                        <h3 class="title">Mihail</h3>
                        <span class="post">Bud zdesya</span>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="pad">
{% endblock content %}