{% extends 'adminpanel/base.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% load i18n %}
{% block content %}
    <div class="contents-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-content">
                <div class="content-head">
                    <h4 class="content-title"> {% trans 'Управление контактами на главной' %}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="statistic-box m-0">
                            <h4 class="statistic-title float-left">{% trans 'Сотрудники' %}</h4><!-- /.statistic-title -->
                            <div class="action-menu dropdown float-right">
                                <button class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url "teams" %}">{% trans 'Все сотрудники' %}</a>
                                </div>
                            </div><!-- /.action-menu -->
                            <div class="statistic-details">
                                <span class="count float-left">{{ teams }} </span><!-- /.count -->
                                <span class="statistic-icon color-success float-right"><i
                                        class="pe-7s-users"></i></span><!-- /.statistic-icon -->
                            </div><!-- /.statistic-details -->
                        </div><!-- /.statistic-box -->

                    </div>
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="statistic-box m-0">#}
{#                            <h4 class="statistic-title float-left">{% trans 'Партнёры' %}</h4><!-- /.statistic-title -->#}
{#                            <div class="action-menu dropdown float-right">#}
{#                                <button class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                                        aria-expanded="false">#}
{#                                    <i class="fa fa-ellipsis-v"></i>#}
{#                                </button>#}
{#                                <div class="dropdown-menu">#}
{#                                    <a class="dropdown-item" href="{% url "part" %}">{% trans 'Все партнёры' %}</a>#}
{#                                </div>#}
{#                            </div><!-- /.action-menu -->#}
{#                            <div class="statistic-details">#}
{#                                <span class="count float-left">{{ part }} </span><!-- /.count -->#}
{#                                <span class="statistic-icon color-primary float-right"><i#}
{#                                        class="pe-7s-user"></i></span><!-- /.statistic-icon -->#}
{#                            </div><!-- /.statistic-details -->#}
{#                        </div><!-- /.statistic-box -->#}
{#                    </div>#}
{#                    <div class="col-lg-3 col-md-6">#}
{#                        <div class="statistic-box m-0">#}
{#                            <h4 class="statistic-title float-left">{% trans 'Предоставляемых услуг' %}</h4><!-- /.statistic-title -->#}
{#                            <div class="action-menu dropdown float-right">#}
{#                                <button class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"#}
{#                                        aria-expanded="false">#}
{#                                    <i class="fa fa-ellipsis-v"></i>#}
{#                                </button>#}
{#                                <div class="dropdown-menu">#}
{#                                    <a class="dropdown-item" href="{% url "pred" %}">{% trans 'Все услуги' %}</a>#}
{#                                </div>#}
{#                            </div><!-- /.action-menu -->#}
{#                            <div class="statistic-details">#}
{#                                <span class="count float-left">{{ pred }} </span><!-- /.count -->#}
{#                                <span class="statistic-icon color-warning float-right"><i#}
{#                                        class="pe-7s-box2"></i></span><!-- /.statistic-icon -->#}
{#                            </div><!-- /.statistic-details -->#}
{#                        </div><!-- /.statistic-box -->#}
{#                    </div>#}
                </div>
            </div><!-- /.section-content -->
        </div>

    </div>
{% endblock %}

{% block script %}

{% endblock script %}