{% extends 'adminpanel/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="section-content">
                <div class="content-details show">
                    {% load crispy_forms_tags %}
                    <form class="login100-form validate-form " method="post" action="{% url 'contacts' %}"
                          style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ contacts_form|crispy }}
                        <div class="container-login100-form-btn m-t-17" style="text-align: center;">
                            <button type="submit" class="btn btn-outline-primary">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock script %}