{% extends 'adminpanel/base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Наименование грузоперевозки:</th>
            <th scope="col">Картинка:</th>
            <th scope="col">Наименование:</th>
            <th scope="col">Текст:</th>
        </tr>
        </thead>
        <tbody>
        {% load imgnames %}
        {% for car in cars %}
            <tr>
            <th scope="row">{{ car.name_cars }}</th>
            <td>{{ car.img|imgnames }}</td>
            <td>{{ car.name }}</td>
            <td>{{ car.text }}</td>
            <td>
                <a class="btn btn-sm btn-outline-dangerbtn btn-outline-danger"
                   href="{% url 'gruz_del' car.id %}"><i class="fa fa-times"></i></a>
                <a href="{% url 'gruz_edit' car.id %}" class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i></a>
            </td>
        {% endfor %}
        </tbody>
    </table>
    {% load crispy_forms_tags %}

    <br>
    <hr>
    <div class="background-modal">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#primary">
            Добавить грузоперевозку
        </button>

        <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primaryLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document" style="min-width: 60%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="primaryLabel">Грузоперевозки</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="login100-form validate-form " method="post" action="{% url 'gruz' %}"
                              style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ gruz_form|crispy }}
                            <div class="container-login100-form-btn m-t-17" style="text-align: center;">
                                {#            <input class="login100-form-btn" type="submit" value="Вход"/>#}
                                {#            <input type="hidden" name="next" value="{{ next }}"/>#}
                                <button type="submit" class="btn btn-outline-primary">Добавить</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}