{% load static %}
<aside class="left-panel" >
    <div class="user-card background-bg" data-image-src="images/bg5.jpg">
        <a href="#">
            <div class="avatar mr-3 float-left"><img class="rounded-circle"
                                                     src="{% static 'adminpanel/assets/img/1.jpg' %}" alt="Avatar">
            </div><!-- /.avatar -->
            <div class="details">
                <h4 class="name">Bobby Payne</h4><!-- /.name -->
                <span class="designation">Designer</span><!-- /.designation -->
            </div><!-- /.details -->
        </a>
    </div>

    <nav class="navbar">
        <ul class="navbar-nav">
            {% load menubuilder %}

            {% menu admin_menu %}

            {% for item in menuitems %}
                <li {% if item.current %}class="nav-item active"{% endif %}>
                    <a class="nav-link" style=""{% if item.current == False %} href="{{ item.url }}" {% endif %}
                       title="{{ item.title|escape }}">
                    <i class="fa fa-calendar-o"></i> <span class="menu-title">{{ item.title }}</span>
                    </a>
                </li>
            {% endfor %}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="calendar.html">#}
{#                    <i class="fa fa-calendar-o"></i> <span class="menu-title">Calendar</span>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </nav>
</aside><!-- /.left-panel -->