{#{% extends 'adminpanel/base.html' %}#}
{##}
{#{% block content %}#}
{#    {% load crispy_forms_tags %}#}
{#    <form class="login100-form validate-form " method="post" action="{% url 'partner_edit' partner.id %}"#}
{#          style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ partner_form|crispy }}#}
{#        <div class="container-login100-form-btn m-t-17" style="text-align: center;">#}
{#            <button type="submit" class="btn btn-outline-primary">Изменить</button>#}
{#        </div>#}
{#    </form>#}
{#{% endblock content %}#}

{% extends 'adminpanel/base.html' %}
{% load static %}
{% block style %}

{% endblock style %}
{% load i18n %}
{% block content %}
    <div class="contents-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Редактирование партнёра' %}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Партнёры' %}</h4>
                        <div class="content-details show">
                            {% load crispy_forms_tags %}
                            <form class="login100-form validate-form " method="post"
                                  action="{% url 'partner_edit' partner.id %}"
                                  style="width: 60%;margin-left: auto; margin-right: auto;"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ partner_form|crispy }}
                                <div class="container-login100-form-btn m-t-17" style="text-align: center;">
                                    <button type="submit" class="btn btn-outline-primary">Изменить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-lg-4">#}
{#                <div class="section-content">#}
{#                    <div class="content-head">#}
{#                        <h4 class="content-title"> {% trans 'Управление' %}</h4>#}
{#                        <div class="content-details show">#}
{#                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal"#}
{#                                    data-target="#primary">#}
{#                                Добавить сотрудника#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
{% endblock %}

{% block script %}

{% endblock script %}