{% extends 'adminpanel/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'adminpanel/assets/css/datatable.css' %}">
{% endblock style %}
{% load i18n %}
{% block content %}
    {% load cache %}
    {% cache 500 part1 %}
    <div class="contents-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Управление партнёрами на главной' %}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Партнёры на главной' %}</h4>
                        <div class="content-details show">
                            <table id="part" class="display compact" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Название партнёра:</th>
                                    <th>Картинка:</th>
                                    <th>Действие</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% endcache %}
                                {% load imgnames %}
                                {% for part in parts %}
                                    <tr>
                                        <td>{{ part.name_part }}</td>
                                        <td>{{ part.img|imgnames }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-dangerbtn btn-outline-danger"
                                               href="{% url 'part_del' part.id %}"><i class="fa fa-times"></i></a>
                                            <a href="{% url 'part_edit' part.id %}"
                                               class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
    {% load cache %}
    {% cache 500 part2 %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Название партнёра:</th>
                                    <th>Картинка:</th>
                                    <th>Действие</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Управление' %}</h4>
                        <div class="content-details show">
                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal"
                                    data-target="#primary">
                                Добавить партнёра
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="row">#}
    {#        <div class="col-md-6">#}
    {#            <div class="section-content">#}
    {#                <div class="content-details show">#}
    {% load crispy_forms_tags %}
    <div class="background-modal">


        <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primaryLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document" style="min-width: 60%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="primaryLabel">Партнёры на главной</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="login100-form validate-form " method="post" action="{% url 'part' %}"
                              style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ part_form|crispy }}
                            <div class="container-login100-form-btn m-t-17" style="text-align: center;">
                                <button type="submit" class="btn btn-outline-primary">Добавить</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#                </div>#}
    {#            </div>#}
    {#        </div>#} {% endcache %}
{% endblock %}

{% block script %}
    <script src="{% static 'adminpanel/assets/js/datatable.js' %}"></script>
    <script>
        jQuery(function ($) {
            $('#part').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "Все"]
                ],
                "iDisplayLength": 10,
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                },
                "paging": true,
                {#dom: 'Bfrtip',#}
                "responsive": true,
                {#autoWidth: false,#}
                {#buttons: [#}
                {# 'excel', 'pdf', 'print'#}
                {#],#}
            });
        });
    </script>
{% endblock script %}