{% extends 'adminpanel/base.html' %}

{% block content %}
    {#    {% for rombs in romb %}#}
    {#        {{ rombs.name_romb }}#}
    {#        {{ rombs.ico }}#}
    {#        {{ rombs.text }}#}
    {#        {{ rombs.numbers }}#}
    {#    {% endfor %}#}
    {% load crispy_forms_tags %}
    <form class="login100-form validate-form " method="post" action="{% url 'pred' %}"
          style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ pred_form|crispy }}
        <div class="container-login100-form-btn m-t-17" style="text-align: center;">
            {#            <input class="login100-form-btn" type="submit" value="Вход"/>#}
            {#            <input type="hidden" name="next" value="{{ next }}"/>#}
            <button type="submit" class="btn btn-outline-primary">Добавить</button>
        </div>
    </form>
    <br>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Картинка</th>
            <th scope="col">Текст</th>
        </tr>
        </thead>
        <tbody>
        {% load imgnames %}
        {% for pred in preds %}
            <tr>
                <th scope="row">{{ pred.name_pred }}</th>
                <td>{{ pred.img|imgnames}}</td>
                <td>{{ pred.text}}</td>
                <td><a class="btn btn-outline-dangerbtn btn-outline-danger" href="{% url 'pred_del' pred.id %}">Удалить</a></td>
{#                <td><a class="btn btn-outline-primary" href="{% url 'page_index_del' rombs.id %}">Удалить</a></td>#}
{#            </tr>#}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}