{% extends 'adminpanel/base.html' %}

{% block content %}
    {#    <div class="row">#}
    {#        <div class="col-md-6">#}
    {#            <div class="section-content">#}
    {#                <div class="content-details show">#}
    {% load crispy_forms_tags %}
    <form class="login100-form validate-form " method="post" action="{% url 'teams' %}"
          style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ teams_form|crispy }}
        <div class="container-login100-form-btn m-t-17" style="text-align: center;">
            <button type="submit" class="btn btn-outline-primary">Добавить</button>
        </div>
    </form>
    <br>
    <hr>
    <div class="background-modal">
        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal"
                data-target="#primary">
            Сотрудники
        </button>

        <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primaryLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document" style="min-width: 100%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="primaryLabel">Сотрудники</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Имя и фамилия</th>
                                <th scope="col">Должность</th>
                                <th scope="col">Телефон</th>
                                <th scope="col">Электронная почта</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% load imgnames %}
                            {% for team in teams %}
                                <tr>
                                <td>{{ team.name }}</td>
                                <td>{{ team.position }}</td>
                                <td>{{ team.phone }}</td>
                                <td>{{ team.mail }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-dangerbtn btn-outline-danger"
                                       href="{% url 'teams_del' team.id %}"><i class="fa fa-times"></i></a>
                                    <a href="" class="btn btn-sm btn-outline-success"><i class="fa fa-eye"></i></a>
                                </td>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
{% endblock %}