{#{% extends 'adminpanel/base.html' %}#}
{##}
{#{% block content %}#}
{#    <table class="table table-striped">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">Наименование работы</th>#}
{#            <th scope="col">Картинка</th>#}
{#            <th scope="col">Наименование</th>#}
{#            <th scope="col">Текст</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% load imgnames %}#}
{#        {% for work in works %}#}
{#            <tr>#}
{#            <th scope="row">{{ work.name_work }}</th>#}
{#            <td>{{ work.img|imgnames }}</td>#}
{#            <td>{{ work.name }}</td>#}
{#            <td>{{ work.text }}</td>#}
{#            <td>#}
{#                <a class="btn btn-sm btn-outline-dangerbtn btn-outline-danger"#}
{#                   href="{% url 'work_del' work.id %}"><i class="fa fa-times"></i></a>#}
{#                <a href="{% url 'work_edits' work.id %}" class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i></a>#}
{#            </td>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{##}
{#    <br>#}
{#    <hr>#}
{#    <div class="background-modal">#}
{#        <button type="button" class="btn btn-lg btn-block btn-primary" data-toggle="modal" data-target="#primary">#}
{#            Добавить "Как мы работаем"#}
{#        </button>#}
{##}
{#        <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primaryLabel"#}
{#             aria-hidden="true">#}
{#            <div class="modal-dialog" role="document" style="min-width: 60%">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <h5 class="modal-title" id="primaryLabel">Как мы работаем</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">×</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        {% load crispy_forms_tags %}#}
{#                        <form class="login100-form validate-form " method="post" action="{% url 'work' %}"#}
{#                              style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            {{ work_form|crispy }}#}
{#                            <div class="container-login100-form-btn m-t-17" style="text-align: center;">#}
{#                                <button type="submit" class="btn btn-outline-primary">Добавить</button>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'adminpanel/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'adminpanel/assets/css/datatable.css' %}">
{% endblock style %}
{% load i18n %}
{% block content %}
    <div class="contents-inner">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Управление "Как мы работаем"' %}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Как мы работаем' %}</h4>
                        <div class="content-details show">
                            <div class="list-group">
                                {% for work in works %}
                                    <a href="{% url 'work_edits' work.id %}">
                                        <button class="list-group-item list-group-item-action">
                                            {{ work.name_work }}</button>
                                    </a>
                                {% endfor %}
                            </div>
                            {#                            <table id="gruz" class="display compact" style="width:100%">#}
                            {#                                <thead>#}
                            {#                                <tr>#}
                            {#                                    <th>Наименование работы:</th>#}
                            {#                                    <th>Картинка:</th>#}
                            {#                                    <th>Наименование:</th>#}
                            {#                                    <th>Текст:</th>#}
                            {#                                    <th>Действие</th>#}
                            {#                                </tr>#}
                            {#                                </thead>#}
                            {#                                <tbody>#}
                            {#                                {% load imgnames %}#}
                            {#                                {% for work in works %}#}
                            {#                                    <tr>#}
                            {#                                        <td>{{ work.name_work }}</td>#}
                            {#                                        <td>{{ work.img|imgnames }}</td>#}
                            {#                                        <td>{{ work.name }}</td>#}
                            {#                                        <td>{{ work.text }}</td>#}
                            {#                                        <td>#}
                            {#                                            <a class="btn btn-sm btn-outline-dangerbtn btn-outline-danger"#}
                            {#                                               href="{% url 'work_del' work.id %}"><i class="fa fa-times"></i></a>#}
                            {#                                            <a href="{% url 'work_edits' work.id %}"#}
                            {#                                               class="btn btn-sm btn-outline-success"><i class="fa fa-edit"></i></a>#}
                            {#                                        </td>#}
                            {#                                    </tr>#}
                            {#                                {% endfor %}#}
                            {#                                </tbody>#}
                            {#                                <tfoot>#}
                            {#                                <tr>#}
                            {#                                    <th>Наименование работы:</th>#}
                            {#                                    <th>Картинка:</th>#}
                            {#                                    <th>Наименование:</th>#}
                            {#                                    <th>Текст:</th>#}
                            {#                                    <th>Действие</th>#}
                            {#                                </tr>#}
                            {#                                </tfoot>#}
                            {#                            </table>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-content">
                    <div class="content-head">
                        <h4 class="content-title"> {% trans 'Управление' %}</h4>
                        <div class="content-details show">
                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal"
                                    data-target="#primary">
                                Добавить "Как мы работаем"
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="row">#}
    {#        <div class="col-md-6">#}
    {#            <div class="section-content">#}
    {#                <div class="content-details show">#}
    {% load crispy_forms_tags %}
    <div class="background-modal">


        <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="primaryLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog" role="document" style="min-width: 60%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="primaryLabel">Как мы работаем</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        <form class="login100-form validate-form " method="post" action="{% url 'work' %}"
                              style="width: 60%;margin-left: auto; margin-right: auto;" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ work_form|crispy }}
                            <div class="container-login100-form-btn m-t-17" style="text-align: center;">
                                <button type="submit" class="btn btn-outline-primary">Добавить</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
{% endblock %}

{% block script %}
    <script>
        jQuery(function ($) {
            $("#phone-number").mask("+ 7 (999) 999-9999");
        });
    </script>
    <script src="{% static 'adminpanel/assets/js/datatable.js' %}"></script>
    <script>
        jQuery(function ($) {
            $('#gruz').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "Все"]
                ],
                "iDisplayLength": 10,
                "language": {
                    url: "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                },
                "paging": true,
                {#dom: 'Bfrtip',#}
                "responsive": true,
                {#autoWidth: false,#}
                {#buttons: [#}
                {# 'excel', 'pdf', 'print'#}
                {#],#}
            });
        });
    </script>
{% endblock script %}