{% load static %}
{% for work in works %}
{#    Секция Как мы работаем#}
    {% if work.id == 2 %}
        <div class="snippet col-md-4 col-12">
        {% else %}
        <div class="col-md-4 col-12">
    {% endif %}
    <div class="pricingTable ">
        <div class="pricingTable-header">
            <span><img src="{{ work.img.url}}" alt=""/></span>
        </div>
        <div class="price-value">
 <span class="amount">
 {{ work.name }}
 </span>
        </div>
        <p class="pricing-content">
            {{ work.text|safe }}
        </p>
    </div>
</div>
{% endfor %}