/*Ваня*/


/*Кнопки на главной*/
.logo {
    background: rgba(0, 0, 0, .3);
    text-align: center;
    border-right: 10px solid rgba(0, 0, 0, 0.2);
}

.company {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.contact2 p {
    margin-bottom: 7px;
}

.row.rombs {
    /*background: rgba(0, 0, 0, 0.3);*/
    /*border-top: 10px solid rgba(0, 0, 0, 0.2);*/
    padding: 25px;
}

.rombs h3 {
    font-family: 'Didact Gothic', sans-serif;
}

.rombs span {
    font-family: 'Didact Gothic', sans-serif;
}

/*.romb1,.romb3 {*/
/*      background: rgba(241, 146, 52, 0.8);*/
/*}*/
/*.romb2 {*/
/*  background: rgba(241, 146, 52, 0.9);*/
/*}*/
/*.romb4 {*/
/*   background: rgba(241, 146, 52, 0.9);*/
/*}*/
/*.romb5 {*/
/*   background: rgba(241, 146, 52, 0.9);*/
/*}*/
.btn.btn-outline-light.btn-lg.button_main {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    color: white;
    border-color: white;
    width: 150px;
    height: 75px;
}

.btn.btn-outline-light.btn-lg.button_main:hover {
    border-color: #F19234;
    background: rgba(0, 0, 0, 0);
}

/*Услуги*/
.gruz {
    text-align: center;
}

.gruz h3 {
    padding: 5px 0;
}

.gruz .card-title {
    margin-bottom: 0.75rem;
    font-size: 40px;
    margin-top: 0;
    color: #F19234;
    text-transform: uppercase;
    font-family: 'Didact Gothic', sans-serif;
}

.gruz .card-text {
    font-family: 'Didact Gothic', sans-serif;
}

div .contact {
    color: white;
    background: rgba(0, 0, 0, 0.1);
        border-radius: 0px 10px 40px 0px;
    padding: 10px;
    margin-top: 30px;
}

div .send {
    color: white;
    background: rgba(0, 0, 0, 0.1);
        border-radius: 40px 0px 0px 10px;
    padding: 10px;
    margin-top: 30px;
}

div .send2 {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

div .company.contact2 {
    font-size: 16px;
    border-left: 10px solid rgba(0, 0, 0, 0.2);
}

div .contact2 {
    padding: 5% 11%;
    font-size: 16px;
}

div .contact2 i {
    padding-right: 10px;
}

div .contact2 span {
    color: #F19234;
}

div .contact2 a {
    color: #F19234;
}

.uslugi {
    text-align: center;
}

.part {
    text-align: center;
}

div.container div.part div.row.partners {
    padding: 25px 0
}

.partners .col-12 {
    padding: 15px 0;
}

.pred {
    text-align: center;
}

div.container div.pred div.row.predost {
    padding: 25px 0
}

.predost .col-12 {
    padding: 15px 0;
}

.predost p {
    font-size: 20px;
    padding: 30px;
}

.form-signin form {
    background: #f0f2f4
}

/* Стили формы */
#application {
    width: 475px;
    margin: 0 auto;
}

/*Стили полей для ввода*/
#applicationName, #applicationEmail, #applicationTelephone {
    width: 100%;
    height: 40px;
    background: none;
    margin-top: 7px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

/*Стили полей при клике по ним*/
#applicationName:focus, #applicationEmail:focus, #applicationTelephone:focus {
    border: 1px solid #30ad64;
}

/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* Firefox 19+ */

:-moz-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

/* Firefox 18- */

:-ms-input-placeholder {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.applicationButton {
    margin-top: 8px;
    background: #30ad64;
    border: none;
    width: 61%;
    height: 36px;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
    transition: .6s;
}

.applicationButton:hover {
    background: #d68c18;
}


/*По стандарту */

/*
Template:   Meilleur
Author:     EGrappler.com
Framework:  Bootstrap 3.0
*/


.row-merge {
    width: 100%;
    *zoom: 1;
}

.row-merge:before,
.row-merge:after {
    display: table;
    content: "";
    line-height: 0;
}

.row-merge:after {
    clear: both;
}

.row-merge [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0%;
    *margin-left: -0.06944444444444445%;
}

.row-merge [class*="span"]:first-child {
    margin-left: 0;
}

.row-merge .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0%;
}

.row-merge .span12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
}

.row-merge .span11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
}

.row-merge .span10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
}

.row-merge .span9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
}

.row-merge .span8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
}

.row-merge .span7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
}

.row-merge .span6 {
    width: 49.99999999999999%;
    *width: 49.93055555555555%;
}

.row-merge .span5 {
    width: 41.66666666666666%;
    *width: 41.597222222222214%;
}

.row-merge .span4 {
    width: 33.33333333333333%;
    *width: 33.263888888888886%;
}

.row-merge .span3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
}

.row-merge .span2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
}

.row-merge .span1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
}

.row-merge .offset12 {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
}

.row-merge .offset12:first-child {
    margin-left: 99.99999999999999%;
    *margin-left: 99.8611111111111%;
}

.row-merge .offset11 {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
}

.row-merge .offset11:first-child {
    margin-left: 91.66666666666666%;
    *margin-left: 91.52777777777777%;
}

.row-merge .offset10 {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
}

.row-merge .offset10:first-child {
    margin-left: 83.33333333333331%;
    *margin-left: 83.19444444444443%;
}

.row-merge .offset9 {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
}

.row-merge .offset9:first-child {
    margin-left: 74.99999999999999%;
    *margin-left: 74.8611111111111%;
}

.row-merge .offset8 {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
}

.row-merge .offset8:first-child {
    margin-left: 66.66666666666666%;
    *margin-left: 66.52777777777777%;
}

.row-merge .offset7 {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
}

.row-merge .offset7:first-child {
    margin-left: 58.33333333333333%;
    *margin-left: 58.19444444444444%;
}

.row-merge .offset6 {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
}

.row-merge .offset6:first-child {
    margin-left: 49.99999999999999%;
    *margin-left: 49.86111111111111%;
}

.row-merge .offset5 {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
}

.row-merge .offset5:first-child {
    margin-left: 41.66666666666666%;
    *margin-left: 41.52777777777777%;
}

.row-merge .offset4 {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
}

.row-merge .offset4:first-child {
    margin-left: 33.33333333333333%;
    *margin-left: 33.19444444444444%;
}

.row-merge .offset3 {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
}

.row-merge .offset3:first-child {
    margin-left: 24.999999999999996%;
    *margin-left: 24.86111111111111%;
}

.row-merge .offset2 {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
}

.row-merge .offset2:first-child {
    margin-left: 16.666666666666664%;
    *margin-left: 16.52777777777778%;
}

.row-merge .offset1 {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
}

.row-merge .offset1:first-child {
    margin-left: 8.333333333333332%;
    *margin-left: 8.194444444444443%;
}

[class*="span"].hide,
.row-merge [class*="span"].hide {
    display: none;
}

[class*="span"].pull-right,
.row-merge [class*="span"].pull-right {
    float: right;
}

@media (max-width: 767px) {
    [class*="span"],
    .uneditable-input[class*="span"],
    .row-merge [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .span12,
    .row-merge .span12 {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .row-merge [class*="offset"]:first-child {
        margin-left: 0;
    }
}

/*= TYPOGRAPHY
---------------------------------------------------------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #666;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    color: #444;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.15;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 12px;
    margin: 0 0 0 5px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11px;
}

strong,
b {
    color: #555;
}

a {
    color: #0088cc;
}

a:hover,
a:focus {
    outline: none;
}

small,
.small {
    font-size: 13px;
}

ul,
menu,
dir {
    list-style-type: square;
}

form {
    margin: 0;
}

form fieldset {
    border: 1px solid #e5e6e7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 25px;
}

label {
    font-family: inherit;
    font-weight: inherit;
}

.lead {
    font-size: 15px;
    line-height: 24px;
}

.unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.gap-15 {
    height: 15px;
}

.gap-30 {
    height: 30px;
}

.gap-50 {
    height: 30px;
}

.gap-70 {
    height: 30px;
}

/*= FORM
---------------------------------------------------------------------------------------------- */
.form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
}

/*= BUTTONS
---------------------------------------------------------------------------------------------- */
.btn {
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 17px 39px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    text-transform: uppercase;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a7ce2+0,8283e8+50,5c5de8+51,565bd8+71,575cdb+100 */
    background: #5a7ce2;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a7ce2', endColorstr='#575cdb', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-outline-primary:hover {
    background-color: #5a7ce2;
    border-color: #5a7ce2;
    color: #fff;
}

.btn-secondary {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#797b7f+0,b5b8bf+50,8e9397+51,8e9397+71,828589+100 */
    background: #797b7f;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#797b7f', endColorstr='#828589', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-success {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05ac50+0,21dd72+50,05c44e+51,05ac50+71,05ac50+100 */
    background: #05ac50;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ac50', endColorstr='#05ac50', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-danger {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e81216+0,f45355+50,f6290c+51,ed0e11+71,fc1b21+100 */
    background: #e81216;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81216', endColorstr='#fc1b21', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-warning {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5ae09+0,ffd044+50,ffc107+51,fc9014+71,f1890b+100 */
    background: #e5ae09;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e5ae09 0%, #ffd044 50%, #ffc107 51%, #fc9014 71%, #f1890b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e5ae09 0%, #ffd044 50%, #ffc107 51%, #fc9014 71%, #f1890b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e5ae09 0%, #ffd044 50%, #ffc107 51%, #fc9014 71%, #f1890b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5ae09', endColorstr='#f1890b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    color: #fff !important;
}

.btn-info {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01a8c1+0,2adbf7+50,00b5d1+51,0aafc9+71,0599b1+100 */
    background: #01a8c1;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01a8c1', endColorstr='#0599b1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-light {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,dddddd+50,ffffff+51,ffffff+71,f6f8fb+100 */
    background: #f2f2f2;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f2f2f2 0%, #dddddd 50%, #ffffff 51%, #ffffff 71%, #f6f8fb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f2f2f2 0%, #dddddd 50%, #ffffff 51%, #ffffff 71%, #f6f8fb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f2f2f2 0%, #dddddd 50%, #ffffff 51%, #ffffff 71%, #f6f8fb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f6f8fb', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #3f345f !important;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

.btn-dark {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#343a40+0,667584+50,4e5256+51,242a30+71,343a40+100 */
    background: #343a40;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #343a40 0%, #667584 50%, #4e5256 51%, #242a30 71%, #343a40 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#343a40', endColorstr='#343a40', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 31%
    }
    50% {
        background-position: 100% 70%
    }
    100% {
        background-position: 0% 31%
    }
}

.btn-outline-light:hover {
    color: #3f345f;
}

.btn-outline-warning:hover {
    color: #ffffff;
}

.btn-sm {
    font-size: 12px;
    padding: 11px 25px;
}

.elements-page-btn .btn {
    margin: 6px 3px;
}

/*= HEADER
---------------------------------------------------------------------------------------------- */
.header .navbar {
    background: #e3e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    padding: 0 1rem !important;
}

.header .navbar-nav > li > a {
    font-size: 16px;
    color: #555;
}

a.nav-link {
    /*background-color: rgba(33, 33, 33, 0.1);*/
    padding: 33px;
}

li.nav-item.active {
    background-color: rgba(255, 255, 255, 1);
}

#navbarNav {
    float: right;
}

/*= SECTIONS
---------------------------------------------------------------------------------------------- */

.section {
    padding: 20px 0;
}

.section.type-1 {
    background: #2a333b;
    color: #a5b3bf;
}

.section.type-1 h1,
.section.type-1 h2,
.section.type-1 h3,
.section.type-1 h4,
.section.type-1 h5,
.section.type-1 h6,
.section.type-1 strong,
.section.type-1 b {
    color: #fff;
}

.section.type-1 h4 {
    color: #a5b3bf;
    border-color: #313b44;
}

.section.type-1 hr {
    border-color: #313b44;
}

.section.type-1 .form-control {
    background: #384048;
    border-color: transparent !important;
    color: #a5b3bf;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    /* ...and now override with proper CSS property */

    transition: background-color 0.3s linear;
}

.section.type-1 .form-control:focus {
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.section.type-2 {
    background: #f0f2f4;
}

.section.type-3 {
    background: #fff;
}

.section.big {
    height: 100%;
}

/*.section.splash {*/
/*    background: url(../img/header/cars.jpg) fixed no-repeat;*/
/*    background-size: cover;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

.section.big_company {
    height: 100%;
}

.section.splash_company {
    background: url(../img/header/company.jpg) fixed no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.section.splash h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-headlines {
    text-align: center;
}

.section-headlines > h2 {
    font-size: 32px;
}

.section-headlines > h4 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #777;
    border-bottom: 2px solid #ddd;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 35px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.section-headlines > div {
    line-height: 1.8;
}

/*= SPLASH
---------------------------------------------------------------------------------------------- */
.splash-cover {
    background: #363b48;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
    opacity: 0.75;
    filter: alpha(opacity=85);
}

.splash-block {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.splash-block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */

}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    /*padding: 50px 0;*/
}

/*= JUMPER
---------------------------------------------------------------------------------------------- */
.jumper {
    height: 0;
    position: relative;
    top: -50px;
}

/*= BRANDS
---------------------------------------------------------------------------------------------- */
.brands .brand {
    border: 1px solid #eee;
    padding: 30px;
    text-align: center;
}

/*= FOOTER
---------------------------------------------------------------------------------------------- */
.footer {
    background: #242b32;
    color: #a5b3bf;
    font-size: 13px;
    padding: 20px 0;
}

.footer * {
    line-height: 20px;
}

.footer .link-social {
    color: inherit;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: 15px;
    text-decoration: none !important;
    font-size: 18px;
}

.footer .link-social:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.section-contact .address-row {
    display: table;
    width: 100%;
}

.section-contact .address-sign {
    display: table-cell;
    width: 30px;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.section-contact .address-info {
    display: table-cell;
}

footer .page-footer.font-small.indigo {
    /*background-color: #f0f2f4;*/
    background: url("/static/img/road.png");
}
.main1 {
    background: url("/static/img/header/cars2.jpg");
    padding: 50px;
    background-size: cover;
}
.line {
    background: url("/static/img/mv.png");
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.5) inset;
}
.com1 {
    background: url("/static/img/header/company.jpg");
        padding: 50px;
    background-size: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body > aside.com1 > section > div > div.col-md-4.col-12 > div.card > div > ul > li > a {
    margin: 0px 13px;
    color: orange;
    font-size: 40px;
}
body > aside.com1 > section > div > div.col-md-4.col-12 > div.card> div > ul > li > a:hover {
    color: gray;
}

.textinput.textInput.form-control {
    border: orange solid 2px;
}
footer .col-md-3 {
    margin: 3px 0;
}

footer h6 {
    font-size: 16px;
}

footer a {
    color: #f19234;
}

footer a:hover {
    color: #a5b3bf;
    text-decoration: none !important;
}

.page-footer {
    padding-bottom: 55px;
    background: #f0f2f4;
}

.footer-copyright-index {
    background: #2a333b;
}

.footer-copyright {
    background: #2a333b;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 55px;
}

.modal-dialog {
    max-width: 80% !important;
    margin: 25em auto !important;
}

.back_blue {
    background: #E5E9EC;
    padding: 20px;
}

.back_green {
    background: #f0f2f4;
    padding: 20px;
}

.pad {
    padding: 8%;
}

.contact_info span {
    color: #F19234;
}

.row.allpartners {
    background-color: rgba(0, 0, 0, 0.1);
    border: silver solid 1px;
    padding: 20px;
    margin-top: 10px;
    min-width: 100%;
}

.our-team {
    border: 0px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.our-team .team-image {
    position: relative;
    text-align: center;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid gray;
}

.our-team img {
    width: 100%;
    height: auto;
}

.our-team .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    padding: 90px 15px;
    opacity: 0;
    background-color: rgba(241, 146, 52, 0.6);
    transition: all 0.5s ease 0s;
}

.our-team:hover .description {
    opacity: 1;
    font-size: 20px;
    text-align: center;
}

.our-team .social {
    padding: 10px 0 0 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 40px;
    left: -27px;
    background: #3b336a;
    text-align: center;
    transform: translate(25px, 0px) rotateY(90deg);
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    transform: translate(0px, 0px) rotateY(0deg);
}

.our-team .social li {
    display: block;
    margin-bottom: 10px;
}

.our-team .social li a {
    display: block;
    width: 40px;
    height: 35px;
    font-size: 17px;
    color: #fff;
    line-height: 30px;
    transition: all 0.5s ease 0s;
}

.our-team .social li a:hover {
    background: #bc3fbf;
}

.our-team .team-info {
        padding: 20px;
    background-color: #2a333b;
}

.our-team .title {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0px 0 0px 0;
    transition: all 0.5s ease 0s;
    /* font-family: 'Didact Gothic', sans-serif; */
    color: #a5b3bf;
}

.our-team .post {
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    color: #a5b3bf;
}

.our-team .title:hover,
.our-team .post:hover {
    color: #F19234;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .our-team .social {
        left: -20px;
    }
}

@media only screen and (max-width: 480px) {
    .our-team .social {
        left: -20px;
    }
}


@media (max-width: 350px) {
    a.nav-link {
        /* background-color: rgba(33, 33, 33, 0.1); */
        padding: 10px;
    }

    .logo img {
        height: 200px;
    }

    .resurs img {
        height: 200px;
    }

    .title_contact {
        display: none;
    }

    .row.rombs {
        background-color: #f0f2f4;
        border: none;
    }

    div .company.contact2, .logo {
        border-left: none;
        border-right: none;
    }

    .logo {
        border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    }

    .row.rombs.desktop {
        display: none;
    }

    body > footer.page-footer.font-small.indigo > div > div {
        display: none !important;
    }

    /*footer {*/
    /*    display: none !important;*/
    /*}*/
    h1.display-4 {
        font-size: 30px;
        display: none;
    }

    .resurs h2 {
        font-size: 18px;
    }

    body > aside.section.type-1.big_company.splash_company {
        padding: 0;
    }

    body > aside.section.type-1.big.splash {
        padding: 0;
    }

    body > aside.section.type-1.big_company.splash_company > section > div > div.resurs > div > div.col-md-12 > h3 {
        display: none;
    }

    body > aside.back_green > div.container > div > div.col-md-8.col-12 > img {
        display: none;
    }
    div.card-body.com2{
        display: none;
    }
}

@media (min-width: 351px) and (max-width: 767px) {
    a.nav-link {
        padding: 10px;
    }

    .logo img {
        height: 235px;
    }

    .resurs img {
        height: 200px;
    }

    .title_contact {
        display: none;
    }

    .row.rombs {
        background-color: #f0f2f4;
        border: none;
    }

    div .company.contact2, .logo {
        border-left: none;
        border-right: none;
    }
    body > footer.page-footer.font-small.indigo > div > div {
        display: none !important;
    }
    .logo {
        border-bottom: 10px solid rgba(0, 0, 0, 0.2);
    }

    .row.rombs.desktop {
        display: none;
    }

    /*footer {*/
    /*    display: none !important;*/
    /*}*/
    h1.display-4 {
        font-size: 30px;
        display: none;
    }

    .resurs h2 {
        font-size: 18px;
    }

    body > aside.section.type-1.big_company.splash_company {
        padding: 0;
    }

    body > aside.section.type-1.big.splash {
        padding: 0;
    }

    body > aside.section.type-1.big_company.splash_company > section > div > div.resurs > div > div.col-md-12 > h3 {
        display: none;
    }

    body > aside.back_green > div.container > div > div.col-md-8.col-12 > img {
        display: none;
    }
     div.card-body.com2{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .logo {
        border-right: 10px solid rgba(0, 0, 0, 0.2);
        border-bottom: none;
    }

    .romb1 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 980px) {
    .logo img {
        height: 270px;
    }

    .resurs img {
        height: 230px;
    }

    .title_contact {
        color: #a5b3bf !important;
    }

    .container.mobile {
        display: none;
    }

    body > aside.back_green > div.container > div > div.col-md-8.col-12 > img {
        height: 331px;
    }

    body > aside.back_green > div.container > div > div.col-md-8.col-12 {
        border-left: 2px solid rgba(0, 0, 0, 0.2);
    }
}