{#Оставить заявку#}
<h3 style="text-align: center">Оставить заявку</h3>
<div class="send2">
{% load crispy_forms_tags %}
    <form  action="{% url 'index' %}" method="POST">
        {% csrf_token %}
{#        {{ order_form|crispy }}#}
        {{ order_form|crispy }}
{#        <input name="name" id="applicationName" maxlength="20" placeholder="Введите ваше имя"#}
{#               required/>#}
{#        <input name="email" type="email" id="applicationEmail" maxlength="20"#}
{#               placeholder="Введите ваш E-mail" required/>#}
{#        <input name="telephone" type="Tel" id="applicationTelephone" maxlength="20"#}
{#               placeholder="Введите ваш телефон" required/>#}
{#        <input  type="submit"></input>#}
        <button type="submit" class="btn btn-warning" >Отправить</button>
    </form>
</div>