{% load static %}
<div class="section type-1 big splash">
        <div class="splash-cover">
        </div>
        <div class="container-fluid">
            <div class="splash-block">
                <div class="centered">
                    <div class="row" style="height: 33.33%">
                        <div class="col-md-6 col align-self-end company contact2">
                            <p><i class="fas fa-phone"></i>Номер телефона: <span>79123456789</span></p>
                            <p><i class="fas fa-envelope"></i>Электронная почта: <span> res@yandex.ru</span></p>
                            <p><i class="fas fa-map-marker-alt"></i>Наш адрес: <span> ул. 40 Лет Победы, 65</span></p>
                            <p><i class="fab fa-vk"></i>Группа ВКонтакте: <span><a href="https://vk.com">Ресурс-Логистика </a> </span>
                            </p>
                            <p><i class="fab fa-instagram"></i>Инстаграм: <span> <a href="https://instagram.com">Ресурс-Логистика </a></span>
                            </p>
                        </div>
                    </div>
                    <div class="row rombs" style="height: 33.33%">
{#                        <div class="col-md-4 romb1 col-12">#}
{#                            <div class="counter">#}
{#                                <div class="counter-content">#}
{#                                    <div class="counter-icon">#}
{#                                        <i class="fa fa-globe"></i>#}
{#                                    </div>#}
{#                                    <h3>Направлений</h3>#}
{#                                    <span class="counter-value">1033</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4 romb2 col-12">#}
{#                            <div class="counter green">#}
{#                                <div class="counter-content">#}
{#                                    <div class="counter-icon">#}
{#                                        <i class="fa fa-users"></i>#}
{#                                    </div>#}
{#                                    <h3>Постоянных Клиентов</h3>#}
{#                                    <span class="counter-value">328</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4 romb3 col-12">#}
{#                            <div class="counter blue">#}
{#                                <div class="counter-content">#}
{#                                    <div class="counter-icon">#}
{#                                        <i class="fa fa-briefcase"></i>#}
{#                                    </div>#}
{#                                    <h3>Лет Опыта</h3>#}
{#                                    <span class="counter-value">12</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <div class="row rombs" style="height: 33.33%">
                        <div class="col-md-4 romb1 col-12">
                            <div class="counter">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3>Направлений</h3>
                                    <span class="counter-value">1033</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 romb2 col-12">
                            <div class="counter green">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <h3>Постоянных Клиентов</h3>
                                    <span class="counter-value">328</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 romb3 col-12">
                            <div class="counter blue">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <h3>Лет Опыта</h3>
                                    <span class="counter-value">12</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {#                        <div class="section-headlines">#}
                    {#                            <h1>#}
                    {#                                Транспортная компания <br> ООО «Ресурс-Логистика»</h1>#}
                    {#                            <p style="padding: 20px 0;">#}
                    {#                                Грузоперевозки любого типа по РФ, СНГ и Европе</p>#}
                    {#                        </div>#}
                    {#                        <div style="text-align: center; ">#}
                    {#                            <a href="#jump2">#}
                    {#                                <button type="button" class="btn btn-outline-light btn-lg button_main">Мы на карте#}
                    {#                                </button>#}
                    {#                            </a>#}
                    {#                            <a href="#jump6">#}
                    {#                                <button type="button" class="btn btn-outline-light btn-lg button_main">Оставить заявку#}
                    {#                                </button>#}
                    {#                            </a>#}
                    {#                        </div>#}
                </div>
            </div>
        </div>
    </div>