{% load static %}
<div class="section type-3">
        <div class="container">
            <div class="section-headlines">
                <h4>
                    Наши партнёры</h4>
                <!--                 <h2>
                                    We are a small team with lots of friends!</h2>
                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content
                                    of a page when looking at its layout.
                                </div> -->
            </div>
            <div class="part wow pulse">
                <div class="row partners">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/1.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/2.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/3.png' %}" alt=""/>
                    </div>
                </div>
                <div class="row partners">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/4.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/5.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/6.png' %}" alt=""/>
                    </div>
                </div>
                <div class="row partners">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/7.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/8.png' %}" alt=""/>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/partners/9.png' %}" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>