    <div class="section type-1 section-contact">
        <div class="container">
            <div class="section-headlines" style="margin-bottom: 0px;">
                <h4>
                    Оставить заявку</h4>
                <h5>
                    За 8 лет работы мы построили эффективную систему логистики полного цикла, которая гарантированно
                    позволяет Вам избежать любых трудностей в перевозке грузов.
                    <br>

                    “Ваши проблемы- это наши проблемы”, устраивайтесь поудобнее, мы всё берём на себя.
                </h5>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6 send">
                        <h1 style="text-align: center">Оставить заявку</h1>
                        <div class="send2">
                            <form id="application" action=" application.php" method="POST" name=" application ">
                                <input name="name" id="applicationName" maxlength="20" placeholder="Введите ваше имя"
                                       required/>
                                <input name="email" type="email" id="applicationEmail" maxlength="20"
                                       placeholder="Введите ваш E-mail" required/>
                                <input name="telephone" type="Tel" id="applicationTelephone" maxlength="20"
                                       placeholder="Введите ваш телефон" required/>
                                <button class="applicationButton" type="submit" form="application">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 contact">
                        <h1 style="text-align: center">Наши контакты</h1>
                        <div class="contact2">
                            <p><i class="fas fa-phone"></i>Номер телефона: <span>79123456789</span></p>
                            <p><i class="fas fa-envelope"></i>Электронная почта: <span> res@yandex.ru</span></p>
                            <p><i class="fas fa-map-marker-alt"></i>Наш адрес: <span> ул. 40 Лет Победы, 65</span></p>
                            <p><i class="fab fa-vk"></i>Группа ВКонтакте: <span><a href="https://vk.com">Ресурс-Логистика </a> </span>
                            </p>
                            <p><i class="fab fa-instagram"></i>Инстаграм: <span> <a href="https://instagram.com">Ресурс-Логистика </a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>