{% load static %}
<div class="section type-2">
        <div class="container">
            <div class="section-headlines">
                <h4>
                    Грузоперевозки</h4>
                <!--                 <div>
                                    We love creating innovative strategies for the web. All kind of brands hire us:
                                    we make difficult things easy, but never take anything lightly.
                                </div> -->
            </div>
            <div class="row gruz wow pulse">
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По России</h1>
                        <p class="card-text">Доставка груза по России в любой город или населённый пункт. Только
                            профессиональные перевозчики с большим опытом работы. Быстрый расчет вашей заявки и
                            гарантированная надежность.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По СНГ</h1>
                        <p class="card-text">Доставка любых грузов в СНГ и страны ближнего зарубежья в кратчайшие сроки.
                            Огромный опыт работы в данном направлении позволяет нам решать задачи любой сложности с
                            гарантией доведения до результата.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По Европе</h1>
                        <p class="card-text">Грузоперевозки в Европейские страны стала доступнее. Максимально быстро
                            произведем расчет стоимости, подготовим пакет документов и застрахуем ваш груз. Сотни
                            постоянных Клиентов уже убедились в надежности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>