{% load static %}
<div class="section type-2" style="padding: 20px">
<div class="container mobile">
    <div class="section-headlines">
                <h4>
                    В цифрах </h4>
            </div>
     <div class="row rombs mobile" style="height: 33.33%">
                        <div class="col-md-4 romb1 col-12">
                            <div class="counter orange">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <h3>Направлений</h3>
                                    <span class="counter-value">1033</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 romb2 col-12">
                            <div class="counter orange">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <h3>Постоянных Клиентов</h3>
                                    <span class="counter-value">328</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 romb3 col-12">
                            <div class="counter orange">
                                <div class="counter-content">
                                    <div class="counter-icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <h3>Лет Опыта</h3>
                                    <span class="counter-value">12</span>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
</div>
    <div id="jump1" class="jumper">
    </div>
<div class="section type-2" >
        <div class="container">
            <div class="section-headlines">
                <h4>
                    Грузоперевозки</h4>
                <!--                 <div>
                                    We love creating innovative strategies for the web. All kind of brands hire us:
                                    we make difficult things easy, but never take anything lightly.
                                </div> -->
            </div>
            <div class="row gruz wow pulse">
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По России</h1>
                        <p class="card-text">Доставка груза по России в любой город или населённый пункт. Только
                            профессиональные перевозчики с большим опытом работы. Быстрый расчет вашей заявки и
                            гарантированная надежность.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По СНГ</h1>
                        <p class="card-text">Доставка любых грузов в СНГ и страны ближнего зарубежья в кратчайшие сроки.
                            Огромный опыт работы в данном направлении позволяет нам решать задачи любой сложности с
                            гарантией доведения до результата.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По Европе</h1>
                        <p class="card-text">Грузоперевозки в Европейские страны стала доступнее. Максимально быстро
                            произведем расчет стоимости, подготовим пакет документов и застрахуем ваш груз. Сотни
                            постоянных Клиентов уже убедились в надежности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>