{% load static %}
<div class="section type-2">
        <div class="container wow pulse">
            <div class="section-headlines">
                <h4>
                    Мы предоставим</h4>
            </div>
            <div class="pred">
                <div class="row predost">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/1.png' %}" alt=""/>
                        <p>1200 единиц техники по всей
                            географии страны</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/2.png' %}" alt=""/>
                        <p>Контроль хода выполнения перевозки
                            на всех этапах с оповещением заказчика
                            о местоположении</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/3.png' %}" alt=""/>
                        <p>Опытный персональный менеджер
                            на связи круглосуточно
                            365 дней в году</p>
                    </div>
                </div>
                <div class="row predost">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/4.png' %}" alt=""/>
                        <p>Проверку и подготовку надлежащего
                            пакета документов</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/5.png' %}" alt=""/>
                        <p>Страхование груза за наш счёт</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/6.png' %}" alt=""/>
                        <p>Опыт решения нестандартных
                            ситуаций</p>
                    </div>
                </div>
                <div class="row predost">
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/7.png' %}" alt=""/>
                        <p>Все бухгалтерские выписки
                            по вашему требованию</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/8.png' %}" alt=""/>
                        <p>Отсрочку платежа</p>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="{% static 'img/pred/9.png' %}" alt=""/>
                        <p>Любую форму оплаты</p>
                    </div>
                </div>
            </div>
        </div>
    </div>