{% load static %}
<div class="section type-2">
        <div class="container-fluid">
            <div class="section-headlines">
                <h4>
                    Как мы работаем</h4>
            </div>
            <div class="uslugi row wow pulse">
                <div class="col-md-4 col-12">
                    <div class="pricingTable ">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/1.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
 Заявка
 </span>
                        </div>
                        <p class="pricing-content">
                            Введите ключевые данные для произведения расчета стоимости доставки на сайте. Заявка тут же
                            попадёт к менеджеру, который подготовит максимально подробную информацию и сделает расчет
                            стоимости. При возникновении дополнительных вопросов мы свяжемся с вами. Мы не пишем
                            стоимость перевозки на сайте, потому что на неё влияет множество факторов. Наш сотрудник
                            произведет необходимые расчеты чтобы не вводить вас в заблуждение. Заполнение формы на сайте
                            ни к чему вас не обязывает, а все данные надежно хранятся.
                        </p>
                    </div>
                </div>

                <div class="snippet col-md-4 col-12">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/2.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
Договор
 </span>
                        </div>
                        <p class="pricing-content">
                            Заключение договора происходит в течение нескольких часов после вашего согласия. Мы с
                            радостью ответим на все возникшие вопросы и проконсультируем по поводу любых нюансов. Помимо
                            этого, наши юристы проверят все детали, чтобы не осталось ни одного подводного камня.
                            Договор заключается как с юридическими так и с физическими лицами по желанию Заказчика. Мы
                            ценим каждого, кто обратился в нашу компанию, и готовы согласовать правки в договоре
                            оказания услуг грузоперевозки.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/3.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
Доставка
 </span>
                        </div>
                        <p class="pricing-content">
                            В оговоренные сроки мы производим доставку груза, информируя вас о всех передвижениях и
                            решая возникшие проблемы при погрузке/разгрузке. В случае необходимости предоставим все
                            закрывающие документы для отчетности. Вы всегда можете обратиться к личному менеджеру по
                            любому вопросу. После успешной доставки грузка мы будем рады получить обратную связь чтобы
                            улучшить наш сервис или получить положительный опыт работы с нами. Это поможет другим
                            Заказчикам определиться с выбором и избежать трудностей с выбором перевозчика.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>