{% load static %}
{#Партнёры#}

<div class="row partners">
    {% for part in parts %}
        <article class="col-md-4 col-12">
            <img src="{{ part.img }}" alt=""/>
        </article>
    {% endfor %}
</div>

<!-- Button trigger modal -->
{#<button type="button" class="btn-lg btn-warning btn-block" data-toggle="modal" data-target="#partners" style="color: white; background-color: orange;">#}
{#    Показать подробнее:#}
{#</button>#}
<a href="{% url 'partners' %}" style="color: orange; font-size: 20px;"><button type="submit" class="btn btn-warning" >Показать подробнее: </button></a>
<!-- Modal -->
<div class="modal fade" id="partners" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Партнёры</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
{% for allpart in allpartners %}
                <div class="row">
                    <div class="col-md-4 col-12" style="margin: auto">
                        <img src="{{ allpart.img.url }}" alt="">
                    </div>
                    <div class="col-md-8 col-12">
                        <h3>{{ allpart.name_part }}</h3>
                        <hr>
                        <h4>{{ allpart.text }}</h4>
                        <h4>Номер телефона: <span style="color: orange">{{ allpart.number }}</span></h4>
                        <h4>Электронная почта: <span style="color: orange">{{ allpart.email }}</span></h4>
                    </div>
                </div>
    <hr>
   {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-lg btn-info" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>