{% extends "base.html" %}


{% block content %}
    {% load static %}

    <div class="jumper" id="jump0">
    </div>
 {% include "modules/aside/main.html" %}
 {% include "modules/aside/shipping.html" %}
    <div id="jump2" class="jumper">
    </div>
 {% include "modules/aside/map.html" %}
    <div id="jump3" class="jumper">
    </div>
 {% include "modules/aside/working.html" %}
    <div id="jump4" class="jumper">
    </div>
    {% include "modules/aside/partners.html" %}
    </div>
    <div id="jump5" class="jumper">
    </div>
    {% include "modules/aside/we.html" %}
    </div>
    {% include "modules/aside/team.html" %}
    <div id="jump7" class="jumper">
    </div>
    {% include "modules/aside/request.html" %}

    {% include "modules/aside/footer.html" %}

{% endblock content %}


