{% extends "base.html" %}
{% block head %}
    {% include "component/head.html" %}
{% endblock head %}


{% block content %}
    {% load static %}
    <header class="header" id="jump">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/resurs.png' %}" height="60px" alt=""/></a>
                </div>
                <div class="collapse navbar-collapse hidden-xs">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#jump0">Главная</a></li>
                        <li><a href="#jump1">Грузоперевозки</a></li>
                        <li><a href="#jump2">На карте</a></li>
                        <li><a href="#jump3">Как мы работаем</a></li>
                        <li><a href="#jump4">Партнёры</a></li>
                        <li><a href="#jump5">Мы предоставим</a></li>
                        <li><a href="#jump6">Оставить заявку</a></li>
                        <li style="background-color: #919191;"><a style="color: #ffffff !important;" href="#jump7">Личный
                            кабинет</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div class="collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#jump0" data-toggle="collapse"
                                              data-target=".navbar-responsive-collapse">
                            Главная</a></li>
                        <li><a href="#jump1" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            Грузоперевозки</a></li>
                        <li><a href="#jump2" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            На карте</a></li>
                        <li><a href="#jump3" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            Как мы работаем</a></li>
                        <li><a href="#jump4" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            Партнёры</a></li>
                        <li><a href="#jump5" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            Мы предоставим</a></li>
                        <li><a href="#jump6" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            Оставить заявку</a></li>
                        <li style="background-color: #919191;"><a style="color: #ffffff !important;" href="#jump7"
                                                                  data-toggle="collapse"
                                                                  data-target=".navbar-responsive-collapse">
                            Личный кабинет</a></li>
                    </ul>
                </div>
                <!-- /.navbar-responsive-collapse -->
            </div>
        </nav>
    </header>
    <div class="jumper" id="jump0">
    </div>
    <div class="section type-1 big splash">
        <div class="splash-cover">
        </div>
        <div class="container-fluid">
            <div class="splash-block">
                <div class="centered">
                    <div class="row">
                        <div class="col-md-6 logo">
                            <img height="208px" src="{% static 'img/resurs.png' %}" alt=""/></a>
                        </div>
                        <div class="col-md-6 company contact2">
                            <p><i class="fas fa-phone"></i>Номер телефона: <span>79123456789</span></p>
                            <p><i class="fas fa-envelope"></i>Электронная почта: <span> res@yandex.ru</span></p>
                            <p><i class="fas fa-map-marker-alt"></i>Наш адрес: <span> ул. 40 Лет Победы, 65</span></p>
                            <p><i class="fab fa-vk"></i>Группа ВКонтакте: <span><a href="https://vk.com">Ресурс-Логистика </a> </span>
                            </p>
                            <p><i class="fab fa-instagram"></i>Инстаграм: <span> <a href="https://instagram.com">Ресурс-Логистика </a></span>
                            </p>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
 <div class="counter">
 <div class="counter-content">
 <div class="counter-icon">
 <i class="fa fa-globe"></i>
 </div>
 <h3>Web Designing</h3>
 <span class="counter-value">1245</span>
 </div>
 </div>
 </div>

 <div class="col-md-3 col-sm-6">
 <div class="counter green">
 <div class="counter-content">
 <div class="counter-icon">
 <i class="fa fa-users"></i>
 </div>
 <h3>Web Development</h3>
 <span class="counter-value">1327</span>
 </div>
 </div>
 </div>

 <div class="col-md-3 col-sm-6">
 <div class="counter blue">
 <div class="counter-content">
 <div class="counter-icon">
 <i class="fa fa-briefcase"></i>
 </div>
 <h3>Brand Building</h3>
 <span class="counter-value">1589</span>
 </div>
 </div>
 </div>

 <div class="col-md-3 col-sm-6">
 <div class="counter orange">
 <div class="counter-content">
 <div class="counter-icon">
 <i class="fa fa-mobile"></i>
 </div>
 <h3>Responsive Design</h3>
 <span class="counter-value">1710</span>
 </div>
 </div>
 </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                Ромб 4
                            </div>
                            <div class="col-md-6">
                                Ромб 5
                            </div>
                        </div>
{#                        <div class="section-headlines">#}
{#                            <h1>#}
{#                                Транспортная компания <br> ООО «Ресурс-Логистика»</h1>#}
{#                            <p style="padding: 20px 0;">#}
{#                                Грузоперевозки любого типа по РФ, СНГ и Европе</p>#}
{#                        </div>#}
{#                        <div style="text-align: center; ">#}
{#                            <a href="#jump2">#}
{#                                <button type="button" class="btn btn-outline-light btn-lg button_main">Мы на карте#}
{#                                </button>#}
{#                            </a>#}
{#                            <a href="#jump6">#}
{#                                <button type="button" class="btn btn-outline-light btn-lg button_main">Оставить заявку#}
{#                                </button>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
            </div>
        </div>
    </div>
    <div id="jump1" class="jumper">
    </div>
    <div class="section type-2">
        <div class="container">
            <div class="section-headlines">
                <h4>
                    Грузоперевозки</h4>
                <!--                 <div>
                                    We love creating innovative strategies for the web. All kind of brands hire us:
                                    we make difficult things easy, but never take anything lightly.
                                </div> -->
            </div>
            <div class="row gruz wow pulse">
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car1.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По России</h1>
                        <p class="card-text">Доставка груза по России в любой город или населённый пункт. Только профессиональные перевозчики с большим опытом работы. Быстрый расчет вашей заявки и гарантированная надежность.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car2.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По СНГ</h1>
                        <p class="card-text">Доставка любых грузов в СНГ и страны ближнего зарубежья в кратчайшие сроки. Огромный опыт работы в данном направлении позволяет нам решать задачи любой сложности с гарантией доведения до результата.</p>
                    </div>
                </div>
                <div class="col-md-4 col-12 card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/services/car3.jpg' %}" alt="Card image cap">
                    <div class="card-body">
                        <h1 class="card-title">По Европе</h1>
                        <p class="card-text">Грузоперевозки в Европейские страны стала доступнее. Максимально быстро произведем расчет стоимости, подготовим пакет документов и застрахуем ваш груз. Сотни постоянных Клиентов уже убедились в надежности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jump2" class="jumper">
    </div>
    <div class="section type-1" style="padding: 0">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A06ff42df4b9d7a561d5d434cc1b55f5519573aeaa2fd4217b81c5b6f595f87f8&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
    <!--end:.mixitup-->
    </div>
    <div id="jump3" class="jumper">
    </div>
    <div class="section type-2">
        <div class="container-fluid">
            <div class="section-headlines">
                <h4>
                    Как мы работаем</h4>
            </div>
            <div class="uslugi row wow pulse">
                <div class="col-md-4 col-12">
                    <div class="pricingTable ">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/1.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
 Заявка
 </span>
                        </div>
                        <p class="pricing-content">
                           Введите ключевые данные для произведения расчета стоимости доставки на сайте. Заявка тут же попадёт к менеджеру, который подготовит максимально подробную информацию и сделает расчет стоимости. При возникновении дополнительных вопросов мы свяжемся с вами. Мы не пишем стоимость перевозки на сайте, потому что на неё влияет множество факторов. Наш сотрудник произведет необходимые расчеты чтобы не вводить вас в заблуждение.  Заполнение формы на сайте ни к чему вас не обязывает, а все данные надежно хранятся.
                        </p>
                    </div>
                </div>

                <div class="snippet col-md-4 col-12">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/2.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
Договор
 </span>
                        </div>
                        <p class="pricing-content">
                            Заключение договора происходит в течение нескольких часов после вашего согласия. Мы с радостью ответим на все возникшие вопросы и проконсультируем по поводу любых нюансов. Помимо этого, наши юристы проверят все детали, чтобы не осталось ни одного подводного камня. Договор заключается как с юридическими так и с физическими лицами по желанию Заказчика. Мы ценим каждого, кто обратился в нашу компанию, и готовы согласовать правки в договоре оказания услуг грузоперевозки.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <span><img src="{% static 'img/num/3.png' %}" alt=""/></span>
                        </div>
                        <div class="price-value">
 <span class="amount">
Доставка
 </span>
                        </div>
                        <p class="pricing-content">
                            В оговоренные сроки мы производим доставку груза, информируя вас о всех передвижениях и решая возникшие проблемы при погрузке/разгрузке. В случае необходимости предоставим все закрывающие документы для отчетности. Вы всегда можете обратиться к личному менеджеру по любому вопросу. После успешной доставки грузка мы будем рады получить обратную связь чтобы улучшить наш сервис или получить положительный опыт работы с нами. Это поможет другим Заказчикам определиться с выбором и избежать трудностей с выбором перевозчика.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="jump4" class="jumper">
    </div>
    <div class="section type-3">
        <div class="container">
            <div class="section-headlines">
                <h4>
                    Наши партнёры</h4>
                <!--                 <h2>
                                    We are a small team with lots of friends!</h2>
                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content
                                    of a page when looking at its layout.
                                </div> -->
            </div>
            <div class="part wow pulse">
            <div class="row partners">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/1.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/2.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/3.png' %}" alt=""/>
                </div>
            </div>
            <div class="row partners">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/4.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/5.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/6.png' %}" alt=""/>
                </div>
            </div>
            <div class="row partners">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/7.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/8.png' %}" alt=""/>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/partners/9.png' %}" alt=""/>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div id="jump5" class="jumper">
    </div>
    <div class="section type-2">
        <div class="container wow pulse">
            <div class="section-headlines">
                <h4>
                    Мы предоставим</h4>
            </div>
<div class="pred">
            <div class="row predost">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/1.png' %}" alt=""/>
                    <p>1200 единиц техники по всей
географии страны</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/2.png' %}" alt=""/>
                    <p>Контроль хода выполнения перевозки
на всех этапах с оповещением заказчика
о местоположении</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/3.png' %}" alt=""/>
                    <p>Опытный персональный менеджер
на связи круглосуточно
365 дней в году</p>
                </div>
            </div>
            <div class="row predost">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/4.png' %}" alt=""/>
                    <p>Проверку и подготовку надлежащего
пакета документов</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/5.png' %}" alt=""/>
                    <p>Страхование груза за наш счёт</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/6.png' %}" alt=""/>
                    <p>Опыт решения нестандартных
ситуаций</p>
                </div>
            </div>
            <div class="row predost">
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/7.png' %}" alt=""/>
                    <p>Все бухгалтерские выписки
по вашему требованию</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/8.png' %}" alt=""/>
                    <p>Отсрочку платежа</p>
                </div>
                <div class="col-md-4 col-12">
                    <img src="{% static 'img/pred/9.png' %}" alt=""/>
                    <p>Любую форму оплаты</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div id="jump6" class="jumper">
    </div>
    <div class="section type-1 section-contact">
        <div class="container">
            <div class="section-headlines" style="margin-bottom: 0px;">
                <h4>
                    Оставить заявку</h4>
                 <h5>
                За 8 лет работы мы построили эффективную систему логистики полного цикла, которая гарантированно позволяет Вам избежать любых трудностей в перевозке грузов.
                     <br>

“Ваши проблемы- это наши проблемы”, устраивайтесь поудобнее, мы всё берём на себя.
                 </h5>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6 send">
                        <h1 style="text-align: center">Оставить заявку</h1>
                        <div class="send2">
                            <form id="application" action=" application.php" method="POST" name=" application ">
                                <input name="name" id="applicationName" maxlength="20" placeholder="Введите ваше имя"
                                       required/>
                                <input name="email" type="email" id="applicationEmail" maxlength="20"
                                       placeholder="Введите ваш E-mail" required/>
                                <input name="telephone" type="Tel" id="applicationTelephone" maxlength="20"
                                       placeholder="Введите ваш телефон" required/>
                                <button class="applicationButton" type="submit" form="application">Отправить</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 contact">
                        <h1 style="text-align: center">Наши контакты</h1>
                        <div class="contact2">
                            <p><i class="fas fa-phone"></i>Номер телефона: <span>79123456789</span></p>
                            <p><i class="fas fa-envelope"></i>Электронная почта: <span> res@yandex.ru</span></p>
                            <p><i class="fas fa-map-marker-alt"></i>Наш адрес: <span> ул. 40 Лет Победы, 65</span></p>
                            <p><i class="fab fa-vk"></i>Группа ВКонтакте: <span><a href="https://vk.com">Ресурс-Логистика </a> </span>
                            </p>
                            <p><i class="fab fa-instagram"></i>Инстаграм: <span> <a href="https://instagram.com">Ресурс-Логистика </a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>





{% endblock content %}


{% block script %}
    {% include "component/script.html" %}
{% endblock script %}