<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container-fluid">

        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-4" style="background: #262e35;">

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump0">Главная</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump1">Грузоперевозки</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump2">На карте</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump3">Как мы работаем</a>
                </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump4">Партнёры</a>
                </h6>
            </div>
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump5">Мы предоставим</a>
                </h6>
            </div>
             <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump6">Сотрудники</a>
                </h6>
            </div>
            <div class="col-md-3 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#jump7" >Оставить заявку</a>
                </h6>
            </div>
            <!-- Grid column -->

        </div>
    </div>
    <!-- Footer Links -->


</footer>
<!-- Footer -->