<aside class="section type-1" style="padding: 0">
    {#    Карта #}

{#    <center>#}
{#        <div class="form-signin">#}
{##}
{##}
{#            <form action="https://movizor.ru/client/map/?z=10.999&lon=49.315300000000015&lat=53.51829100013713" method=post>#}
{#                <input type=hidden name="share_ident" value="iframe"/>#}
{##}
{#                <table border=0>#}
{##}
{#                    <tr>#}
{#                        <td><b style="color: black;">Введите код доступа:</b></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td><input type="text" id="field" class="form-control" name="share_key" value="" size=30#}
{#                                   placeholder="___-___-___-___-____" required></td>#}
{#                        <td>&nbsp;</td>#}
{#                        <td>#}
{#                            <button class="btn btn-lg btn-primary" type="submit" name="form" value="yes">Продолжить#}
{#                            </button>#}
{#                        </td>#}
{#                    </tr>#}
{##}
{#                </table>#}
{##}
{##}
{#            </form>#}
{##}
{#        </div>#}
{#    </center>#}
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A06ff42df4b9d7a561d5d434cc1b55f5519573aeaa2fd4217b81c5b6f595f87f8&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false">

    </script>
</aside>