{% load static %}
{% load i18n %}
<aside class="section type-3">
        <div class="container">
{#            Заголовок#}
{% include "modules/aside/section/partners/name_partners.html"%}
            <section class="part wow pulse">
{#                Партнёры#}
{% include "modules/aside/section/partners/partners.html"%}
            </section>
        </div>
    </aside>
<aside style="background-color: #2a333b;">
    <div class="container" style="height: 90px;
    padding: 11px 0;">
        <div class="row" style="padding: 14px;">
{#            <div class="col-md-12">#}
{#                <h5 style="text-align: center; color: white">Подписаться на рассылку</h5>#}
{#            </div>#}
            <div class="col-md-8">
                {% load crispy_forms_tags %}
                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    {{ email_form|crispy }}
                </form>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning" >Подписаться на рассылку</button>
            </div>
        </div>
    </div>
</aside>