{% load static %}
{#Карточки с машинами и описание перевозок #}
{#{% for car in cars %}#}
{#<div class="col-md-4 col-12 card" style="width: 18rem;">#}
{#    <img class="card-img-top" src="{% static car.img %}" alt="Card image cap">#}
{#    <div class="card-body">#}
{#        <h1 class="card-title">{{ car.name }}</h1>#}
{#        <p class="card-text">{{ car.text }}</p>#}
{#    </div>#}
{#</div>#}
{#{% endfor %}#}
{% for team in teams_index %}
                <div class="col-md-4 col-12">
                    <div class="our-team">

                        <div class="team-image">
                            <img src="{{ team.img.url }}">
                            <p class="description">
                                <i class="fas fa-phone"></i>
                                <span class="">{{ team.phone }}</span> <br>
                                <i class="fas fa-envelope"></i>
                                <span class="">{{ team.mail }}</span>
                            </p>
                            {#                        <ul class="social">#}
                            {#                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                            {#                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>#}
                            {#                        </ul>#}
                        </div>
                        <div class="team-info">
                            <h3 class="title">{{ team.name }}</h3>
                            <span class="post">{{ team.position }}</span>
                        </div>
                    </div>
                </div>
{% endfor %}
<div style="margin-left: auto; margin-right: auto; padding-top: 20px;">
<a href="{% url 'team' %}" style="color: orange; font-size: 20px; text-align: center"><button type="submit" class="btn btn-warning" >Показать подробнее: </button></a>
</div>